@using TFSPraise.Models
@model ListViewModel<TFSPraise.Entities.Praise>

<div>
    @foreach (var p in Model.List)
    {
        string recevierNameList = string.Empty;
        var receivers = p.Receivers.ToList();
        if (receivers.Count > 0)
        {
            foreach (var receiver in receivers)
            {
                recevierNameList += receiver.Name + ";";
            }
        }
        <div>Thank You: @recevierNameList</div>
        <div>@p.Content</div>
        <div>@p.Praiser.Identity.Name  @p.Date.ToShortDateString()</div>

    }
</div>
<div class="btn-group">@Html.PageLinks(Model.PageInfo, n => Url.Action("PraiseList", "Praise", new { page = n }))</div>