@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TFSPraise.Models
@model ListViewModel<TFSPraise.Entities.Blog>
<div class="col-sm-8 blog-main">
    @foreach (var blog in Model.List)
    {
        <div class="blog-post">
            <h2 class="blog-post-title">@blog.Title</h2>
            <p class="blog-post-meta">
                @blog.Date.ToShortDateString()
                <a href=@Url.Action("Home", "Blog", new { id = blog.PosterID, Page = 1 })>@blog.Poster.Identity.Name</a>
            </p>
            <div>@blog.Content</div>
        </div>
    }

    @Html.PageLinks(Model.PageInfo, n => Url.Action("Home", new { ID = ViewBag.BlogerID, Page = n }))
</div>

<script type="text/javascript" async >
    setMenuActive("blog");
</script>
